@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding-top: 5px; /* Adjusted for fixed navbar */
}

#vanta-container .blurrstyle {
    opacity: 0.5;
    filter: blur(10px);
}

.navbar-container {
    position: fixed;
    top: 25px;
    left: 22%;
    right: 20%;
    display: flex;
    z-index: 1000; 
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-size: x-large;
    padding: 15px;
    margin: 10px;
    background-color: #B4D4FF;
    height: 60px;
}

.container {
    display: flex;
    margin-top: 105px; /* Adjusted for fixed navbar and margin */
}

.leftbar {
    border-radius: 20px 0px 0px 20px;
    position: fixed;
    top: 110px; /* Adjusted for fixed navbar */
    left: 22%;
    bottom: 0;
    width: 200px;
    height: 550px;
    background: #212f3d;
}

.profile {
    display: flex;
    height: 60px;
    width: 200px;
    border-radius: 20px ;
    margin-top: 50px;
    background-color: #2c3e50;
}

.User-Name {
    color: white;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    padding-top: 15px;
    color: white;
    padding-left: 15px;
}

.dropdown-menu {
    visibility: hidden;
    height: 120px;
    width: 200px;
    background-color: #4F709C;
    color: white;
    border-radius: 20px;
}

.settings-container {
    display: flex;
    height: 60px;
    background-color: #4F709C;
    border-radius: 0px 0px 20px 20px;
    padding-top: 15px;
    padding-left: 30px;
}

.settings {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.settings:hover {
    scale: 1.1;
    transition: 0.2s;
    cursor: pointer;
}

.logout {
    border-radius: 0px 0px 20px 20px;
    padding-top: 15px;
    padding-left: 30px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

.logout:hover {
    scale: 1.1;
    transition: 0.2s;
    cursor: context-menu;
}

.menu-container {
    display: inline-block;
    cursor: pointer;
    padding-left: 20px;
    padding-top: 18px;
}

.bar1, .bar2, .bar3 {
    width: 20px;
    height: 3px;
    background-color: #ffffff;
    margin:4px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    transform: translate(0, 7px) rotate(-45deg);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    transform: translate(0, -7px) rotate(45deg);
  }

.leftbar .contribution-container {
    margin-top: 40%;
    height: 150px;
    align-items: center;
    justify-content: center;
    background-color: #212f3d;
}

.circle {
    color: white;
    font-family: "Poppins", sans-serif;
    width: 100px;
    height: 100px;
    border: 3px solid transparent;
    border-radius: 50%;
    font-size: 25px;
    margin-left: 40px;
    padding-top: 30px;
    padding-left: 0px;
    color: #fff;
    text-align: center;
    background: rgb(40, 40, 40);
    border-color: #50C4ED;
}

.circle:hover {
    scale: 1.1;
    transition: 0.2s;
    opacity: 1.5;
    border: 4px solid transparent;
    border-color: #387ADF;
}


.Total_Contributions {
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    padding-top: 10px;
    padding-left: 6px;
}


.main {
    position: relative;
    border-radius: 0px 20px 20px 0px;
    margin-left: 35%; /* Adjusted for fixed sidebar width */
    margin-right: 20%; /* Right margin of 10px */
    width: calc(100% - 210px); /* Adjusted for sidebar width and right margin */
    background-color: #C4DFDF;
    padding: 10px;
    height: 550px; /* Full height minus navbar height */
    
}

.main-container{
    height: 460px;
    background-color: #17202a;
    border-radius: 10px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
    position: relative;

}

.card-header{
    color: white;
    font-family: "Poppins", sans-serif;
    background-color: #212f3d;
    border-radius: 10px 10px 0px 0px;
    font-size: 12px;
    padding: 1rem;
    color: #fff;
}

.cards{
    color: white;
    font-family: "Poppins", sans-serif;
    overflow-y: auto;
}

::-webkit-scrollbar{
    width: 05px;
}

::-webkit-scrollbar-thumb{
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #2c3e50;
    border-radius: 5px;
}

.card-body{
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
    padding: 0.8rem;
    font-weight: 500;
    font-size: 0.9rem;
    height: 400px;
    overflow-y: auto;
}

.card-body .chat-bot{
    display: flex;
    align-items: center;
}

.card-body .user{
    display: flex;
    align-items: center;
    justify-content: end;
}

.card-body .chat-bot p{
    background: linear-gradient(135deg, #9DB2BF, #40A2D8);
    border-radius: 10px;
    padding: 0.8rem;
    width: 50%;
    white-space: pre-wrap;
}

.card-body .user p{
    background: linear-gradient(135deg ,#40A2D8, #4F709C);
    border-radius: 10px;
    padding: 0.8rem;
    width: 50%;
    white-space: pre-wrap;
}

.chat-bot, .user{
    margin: 1rem 0;
}

.chat .user-icon{
    width: 45px;
    height: 45px;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-right: 0.5rem;
    border: 2px solid #212f3d;
}

.user-icon .fa-robot{
    color: #3498db;
}

.user-icon .fa-user{
    color: #28b463;
}
.card-footer{
    display: flex;
    align-items: center;
    padding-top: 15px;
    justify-content: space-between;
}

.card-footer textarea{
    resize: none;
    border: none;
    outline: none;
    font-family: inherit;
    width: 100%; /* Adjusted to accommodate the icon */
    display: flex;
    padding: 1rem;
    background-color: #212f3d;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
}


.sending-icon{
    border-radius: 40px; 
    background-color: #387ADF; 
    width: 50px ;
    height: 50px; 
    align-items: center; 
    justify-content: center; 
    margin-right: 0px; 
    margin-left: 5px;
    right: 5px;
    display: flex; /* Add this to align the icon properly */
    align-items: center; /* Add this to vertically center the icon */
    margin-right: 5px; /* Adjust as needed */
}

.sending-icon:hover {
    background-color: #212f3d;
    transition: 0.3s;
}

.sending-icon .fa-paper-plane{
    color: white;
    font-size: 1.2rem;
    cursor: pointer;
}


.sending-icon:active {
    background-color: #40A2D8;
    transition: 0.1s;
}


.settings-layout {
    position: fixed;
    display: none;
    background-color: black;
    height: 500px;
    width: 660px;
    padding: 5px;
    background-color: #17202a;
    border-radius: 10px;
    box-shadow: 5px 0 10px rgba(0, 0, 0, 0.3);
}

.settings-header {
    height: 50px;
    display: flex;
    font-size: 30px;
    background-color: #212f3d;
    padding-left: 250px;
    border-radius: 10px;
}

.settings-title {
    font-family: "Poppins", sans-serif;
    color: rgb(0, 0, 0);
}

.close-settings {
    border: 2px solid black;
    border-radius: 30px;
    padding: 10px;
    margin-right: 20px;
    padding-top: 15px;
    margin-left: 220px;
    transition: 0.3s;
    cursor: pointer;
    background-color: #4F709C;
}

.close-settings:hover {
    background-color: #D24545;
}

.close-settings:active {
    background-color: #387ADF;
    transition: 0.3s;
}

.close-1 {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin:4px 0;
    transition: 0.4s;
    transform: translate(0, 3px) rotate(-135deg);
}

.close-2 {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin:4px 0;
    transition: 0.4s;
    transform: translate(0,-3px) rotate(135deg);
}

.settings-body {
    height: 425px;
    width: 650px;
    margin-top: 10px;
    background-color: #212f3d;
    border-radius: 10px;
    display: flex;
}

.settings-controls {
    height: 425px;
    width: 450px;
    background-color: #ffffff;
}

.login {
    font-family: Raleway, sans-serif;
	width: 450px;
	padding: 30px;
	padding-top: 50px;
    padding-left: 50px;
}

.login__field {
    font-family: Raleway, sans-serif;
	padding: 15px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	color: #000000;
}

.login__input {
    font-family: Raleway, sans-serif;
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-weight: 700;
	width: 75%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
    font-family: Raleway, sans-serif;
	outline: none;
	border-bottom-color: #000000;
}

.login__submit {
    font-family: Raleway, sans-serif;
	background: #fff;
	font-size: 14px;
	margin-top: 30px;
	padding: 16px 20px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 100%;
	color: #000000;
	box-shadow: 0px 2px 2px #000000;
	cursor: pointer;
	transition: .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	border-color: #000000;
	outline: none;
}

.settings-image {
    margin-left: 5px;
    padding-top: 100px;
}















